{% extends "base.html" %}
{% block content %}
<h1>Contact Us</h1>
<hr>
<div class="row">
<div class="col-md-6">
<span class="fa fa-map-marker mr-1"></span><strong> Address:</strong>  In front of Jain Mandir, Near Ram Krishna Care Hospital, Dawada Colony, Pachpedhi Naka, Raipur, Chhattisgarh 492001<br><br>
<span class="fa fa-phone mr-1"></span><strong> Phone:</strong>   0771 4061010<br><br>
<span class="fa fa-print mr-1"></span><strong> Fax:</strong>   0771 4013120<br><br>
<span class="fa fa-envelope mr-1"></span> info@scch.co.in<br><br>
<span class="fa fa-globe mr-1"></span> http://www.scch.co.in</h3><br>

</div>
<div class="col-md-6">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14874.742904550822!2d81.6111144!3d21.2443074!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ed6532a6f04f63c!2sEffCon+Technologies!5e0!3m2!1sen!2sin!4v1556801693876!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
</div>
{% endblock %}
